<div class="container">
    <a class="navbar-brand" href="https://moodle.utmachala.edu.ec/cursosvirtuales/course/view.php?id=1079" target="_blank" rel="noopener noreferrer">
        <img src="https://media.discordapp.net/attachments/985383417782890507/1117516503361798204/Jostyn.png"
            alt="zJostyn" width="100" height="80">
        <h1 class="tecnologiasweb">Tecnologías Web</h1>
    </a>
</div>


<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="https://www.facebook.com/Jostyn.CQ" target="_blank" rel="noopener noreferrer">Mi Facebook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/zJostyn" target="_blank" rel="noopener noreferrer">Mi Github</a>
    </li>
</ul>


<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Mi Biografia
</button>
</p>
<div style="min-height: 100px;">
    <div class="collapse" id="collapseWidthExample">
        <div class="card" style="width: 40.5rem;">
            <div class="card-body">
                <p class="card-text">Mi nombre es Jostyn Juan Cruz Quito, soy estudiante de la asignatura de Tecnologías Web, actualmente curso el 5to semestre en la carrera de Tecnologias de la Informacion, de la Facultad de Ingenieria Civil en la Universidad Tecnica de
                    Machala. Actualmente vivo en Huaquillas, El Oro, Ecuador. Soy una persona que le gusta mucho el estudio y ser muy aplicado. Mis metas son terminar la carrera con buenas notas, poder convertirme en un profesional como Ingeniero de la
                    carrera y poder aprender mas de ella para asi desarrollarme como persona, cumplir mis metas propuestas porque pienso que nada es imposible en esta vida ya que con motivacion y deseo, todo se puede lograr.</p>
            </div>
        </div>
    </div>
</div>

<ul class="list-group">
    <h2 id="megusta">Que es lo que mas me gusta hacer:</h2>
    <li class="list-group-item">Realizar actividades con respecto a la programación.
    </li>
    <li class="list-group-item">Practicar deportes como lo son el fútbol o natación.
    </li>
    <li class="list-group-item">Charlar con amigos y amigas.
    </li>
    <li class="list-group-item">Escuchar musica mientras realizo cualquier actividad.
    </li>
</ul>
